.modal-component{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: black;
    opacity: 0.8;
    padding-top: 150px;
}

.modal-content{
    background: lightblue;
    margin: auto;
    padding: 0;
    width: 80%;
    position: relative;
    border: 1px solid white;
    animation-name: animationModal;
    animation-duration: 0.5s;
}

.modal-header{
    background: steelblue;
    color: white;
    padding: 4px 16px;
    height: 60px;
}

.close-modal-icon{
    /* 닫기 버튼 */
    cursor: pointer;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.modal-body{
    height: 200px;
    padding: 2px 16px;
}

.modal-footer{
    background: steelblue;
    color: white;
    padding: 2px 16px;
}

p{
    padding: auto;
    margin: auto;
    width: 60px;
}

@keyframes animationModal {
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}